@model IEnumerable<Domain.Product>
@{
    ViewData["Title"] = "Wishlist";
}




<div class="mb-5" style="display: grid;grid-template-columns: repeat(auto-fit, minmax(min(100%, 17em), 1fr));">
    @foreach (var item in Model)
    {
        <component type="typeof(InfiniTech.Components.Shared.ProductCard)" render-mode="Static"
                   param-name='@item.Name' param-price="@item.Price"
                   param-ProductImgURL='@(Url.Content("~/images/"+item.ThumbnailURL))' param-id="@item.ID"
                   param-Category='@item.Category.Name'
                   param-Description='@item.ShortDescription' />
    }
</div>
<nav aria-label="Page navigation example mt-2">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.hasprev?"":"disabled")">
            <a class="page-link" asp-route-pagenum="@(ViewBag.currentpage-1)">&laquo; Previous</a>
        </li>
        <li class="page-item @(ViewBag.hasnext?"":"disabled")">
            <a class="page-link" asp-route-pagenum="@(ViewBag.currentpage+1)">Next &raquo;</a>
        </li>
    </ul>
</nav>